<div class="container">
  <h1>All Our Flats (<%= @flats.length %>)</h1>
  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://source.unsplash.com/random/200x200" alt="Card image cap">
          <div class="card-body">
              <h5 class="card-title"><%= flat.name %></h5>
              <p class="card-text"><%= flat.description %></p>
              <div class="row align-items-center justify-content-around" id="flex-card-lower" style="padding: 0 12px;">
                <a href="#" class="btn btn-primary">Book Flat</a>
                <p><i class="fa fa-users" aria-hidden="true"></i> x <%= flat.max_guests %></p>
                <p><i class="fas fa-pound-sign"></i> <%= flat.price_per_night %></p>
              </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
